/* Write your CSS here */
* {
  box-sizing: border-box;
  font-family: Roboto;
}

.bg {
  border: 1px solid gray;
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.innerCard {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #ff8542;
}

.ulContainer {
  list-style: none;
}
